.student {
  padding: 110px 70px 100px;
}

.student__title {
  margin: 0 0 66px;
}

.student__wrap {
  display: flex;
  gap: 270px;
}

.student__info {
  max-width: 600px;
}

.student__name {
  margin: 0 0 18px;
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -1.9px;
}

.student__profession {
  margin: 0 0 26px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}

.student__about {
  margin: 0 0 99px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.student__photo {
  width: 270px;
  height: 327px;
  object-fit: cover;
}

.student__link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}
