.footer {
  padding: 60px 70px 20px;
}

.footer__title {
  margin: 0 0 20px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #A0A0A0;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #E8E8E8;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.footer__menu {

}

.footer__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer__link {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}
