.search {
  padding: 70px 70px 48px;
}

.search__form {
  display: flex;
  justify-content: space-between;
  padding-bottom: 13px;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: 33px;
}

.search__input {
  padding: 0;
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  color: #A0A0A0;
  width: 60%;
}

.search__button {
  color: #fff;
  background-color: #3456F3;
  font-size: 11px;
  line-height: 18px;
  font-weight: 500;
  width: 59px;
  height: 34px;
  border-radius: 40px;
}

@media screen and (max-width: 960px) {
  .search {
    padding: 80px 30px 61px;
  }

  .search__form {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 675px) {
  .search {
    padding: 85px 14px 51px;
  }

  .search__form {
    padding-bottom: 8px;
    margin-bottom: 41px;
  }

  .search__input {
    font-size: 18px;
    line-height: 22px;
  }
}
