.profile {
  width: 410px;
  margin: 0 auto;
  text-align: center;
  padding-top: 74px;
  padding-bottom: 70px;
}

.profile__title {
  margin: 0 0 123px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
}

.profile__form {
  margin-bottom: 13px;
}

.profile__input-list-wrap {
  margin-bottom: 150px;
}

.profile__input-wrap {
  display: flex;
  position: relative;
  flex-direction: column;
}

.profile__input-wrap:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.profile__input {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  text-align: end;
  padding-bottom: 17px;
  border-bottom: 1px solid #E8E8E8;
  width: auto;
}

.profile__input_no-border {
  border-bottom: none;
}

.profile__label {
  position: absolute;
  font-size: 11px;
  line-height: 13px;
  font-weight: 500;
}

.profile__text-error {
  text-align: end;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #FF004C;
  display: block;
  min-height: 12px;
  margin-bottom: 6px;
}

.profile__text-error_hidden {
  visibility: hidden;
}

.profile__button {
  pointer-events: none;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  background-color: inherit;
}

.profile__logout-button {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: #FF3055;
  background-color: inherit;
}

.profile__logout-button_hidden {
  display: none;
}

@media screen and (max-width: 960px) {
  .profile {
    padding-top: 236px;
    padding-bottom: 269px;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .profile__input-list-wrap {
    margin-bottom: 140px;
  }
}

@media screen and (max-width: 487px) {
  .profile {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__input-list-wrap {
    margin-bottom: 308px;
  }

  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__logout-button {
    font-size: 12px;
    line-height: 15px;
  }
}
